<nav class="navbar bg-primary " data-bs-theme="dark">
  <!-- Navbar content -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand p-2" href="#">ZenduForms</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content" id="navbarNavDropdown">
        <i class="bi bi-list-ul"></i>
        <ul class="navbar-nav" *ngFor="let menu of menuItems">
          <i class="bi bi-list-ul"></i>
          <li class="nav-item m-1 ps-1">
            <a class="nav-link btn-link " [ngClass]="menu.active" aria-current="page"><img
                src={{menu.svg}}>&nbsp;&nbsp;{{menu.name}}</a>
          </li>
        </ul>
        <ul class="navbar-nav ul-float ms-5 ">
          <li class="nav-item p-2 ms-5">
            <a><img src="assets/Vector (3).svg"></a>
          </li>
          <li class="nav-item p-2 me-0">
            <a><img src="assets/Vector (4).svg"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</nav>
<div class="p-3">
  <b>{{menuItems[2].name}}</b>
</div>
<div class="fontChan">
  <div class="row p-1">
    <div class="col-3 m-1">
      <img class="absoluteImg" src="assets/search.svg" alt="">
      <input type="text" class="form-control form-input" placeholder="Search">
    </div> 
    <div class="col-2 m-1">
      <select class="form-select" aria-label=" Default Select Form">
        <option value="1">Select Form</option>
      </select>
    </div>
    <div class="col-2 m-1">
      <select class="form-select" aria-label=" Default Select Form">
        <option value="1">Select Status</option>
      </select>
    </div>
    <div class="col-2 m-1 datePk">
      <!-- <input type="date" value="2020-11-30" /> -->
      <input type="date" class="form-control" value="2020-02-24">
    </div>
    <div class="col-2 m-1">
      <button type="button" [ngClass]="primary?'btn btn-primary':'btn btn-outline-dark'" (click)="changeB(true)">
        Map
      </button>
      <button type="button" [ngClass]="primary?'btn btn-outline-dark':'btn btn-primary'" (click)="changeB(false)">
        List
      </button>
      <button class="btn btn-link"><img class="exportImg" src="assets/export.svg" alt=""> Export</button>

    </div>
  </div>
</div>
<div class="row m-2">
  <div class="col-4 p-1">
    <div class="card m-1" *ngFor="let data of Data">
      <div class="card-body p-2">
        <p class="card-title"><span><b>Work Flow: </b> </span><b>{{data.WorkFlow}}</b> <span class="ms-5 text-end" [ngClass]="data.Status==='Uncomplete'?'btn btn-outline-danger':data.Status==='Low Risk'?'btn btn-outline-success':'btn btn-outline-secondary'">
          <img [ngClass]="data.Status==='Uncomplete'?'btn-outline-danger':data.Status==='Low Risk'?'btn-outline-success':'btn-outline-secondary'" src="assets/circle.svg" alt=""> {{data.Status}}</span></p>
      </div>
      <p class="card-text"><span class="text-muted">From: </span>{{data.From}}</p>
      <p class="card-text"><span class="text-muted">To: </span>{{data.To}}</p>
      <p class="card-text"><span class="text-muted">Due Date: </span> <span class="text-danger">{{data.DueDate}}</span></p>
    </div>
  </div>
  <div class="col-8 p-3 flex">
    <!-- <google-map height="400px" width="750px" [center]="center" [zoom]="zoom" (mapClick)="moveMap($event)"
      (mapMousemove)="move($event)">
    </google-map> -->
    <google-map>
      <map-marker
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
      >
      </map-marker>
    </google-map>
  </div>
</div>