.navbar.bg-primary {
    background-color: #2188D9 !important;
    font-size: 14px !important;
}

img.absoluteImg {
    position: absolute !important;
    margin-top: 1% !important;
    margin-left: 9px;
}
.form-control{
    padding: 0.375rem 1.75rem;
}
.fontChan{
    font-size: 16px !important;
}
.card{
    font-size: 14px !important;
}
map-marker{
    width: 190% !important;
    height: 400% !important;
}
google-map{
    width: 190% !important;
    height: 200% !important
}
